*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html, body{
  height: 100%;
  width: 100%;
}
.container{
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
button{
  color: black;
  padding: 10px;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 50px; /* spacing between elements */
  width: 50%;
  border-right: 2px solid white;
}
.leftContainer form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 1rem;
  padding: 0.5rem;
}
input, textarea{
  padding: 1rem;
  height: fit-content;
  color: black;
}
.box{
  flex: 1 1 200px;   /* responsive width */
  max-width: 250px;  /* prevents overflow */
  background: lightgray;
  padding: 15px;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
}
.cards {
  display: flex;
  gap: 20px; /* now gap will work between Cards */
  flex-wrap: wrap;
  background-color: white;
}
.rightContainer {
  margin: 1rem;
  padding: 0.5rem;
  overflow-y: auto;   /* vertical scroll */
  height: 100vh;
  

}
h1{
  color: white;
}
/* .container .rightContainer {
  background-color: white;
} */