*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
.Parent{
  display: flex;
}
.card{
  width: 350px;
  height: 300px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
}
.top{
  display: flex;
  justify-content: space-between;  
  align-items: center;
 
}
.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.top p{
  display: flex;
  align-items: center;   /* 🔥 aligns text + icon */
  gap: 5px;              /* spacing between text and icon */
  margin: 0;             /* remove default spacing */
}
.mChild1{
  display: flex;
  /* justify-content: space-between;   */
  align-items: center;
  gap: 6px;
}
h6{
  opacity: 0.5;
}
.middle{
  display: flex;
  flex-direction: column;  /* stack items vertically */
  gap: 10px;
}
#btn1{
  margin-left: 8px;
}
button{
  padding: 5px;
  border-radius: 5px;
}
.bottom{
  margin-top: 7px;
  display: flex;
  flex-direction: column;  /* stack items vertically */
  gap: 10px;
}
.pCards{
  display: flex;
  flex-wrap: wrap;
}
